<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <!--CONTAINER DO FORMS-->
    <div class = "container" >
        <form class="form-signin" role="form">
            <h2 class="form-signin-heading">Se increva na nossa plataforma</h2>
            <input type="email" class="form-control" placeholder="Email" required autofocus>
            <input type="password" class="form-control" placeholder="Senha" required>
            <br>
            <label class="checkbox">
              <input type="checkbox" value="Lembre-me"> Deseja receber nossos conteúdos?
            </label>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Inscrever</button>
          </form>
    </div>
</body>
</html>